	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a href="#/" class="navbar-brand">Ticket</a>
			</div>
			<ul class="nav navbar-nav">
				<li><a href="#/">Home</a></li>
			</ul>
		</div>
	</nav>
	<div class="container">
		<div class="row">
			<div class="col-sm-3">
				<ul class="nav nav-stacked">
					<li><a href="#view-all">Ticket</a></li>
					<li><a href="#add">Add New</a></li>
				</ul>
			</div>
			<div class="col-sm-9">
				<div class="container">
 					<button type="button" id="addData" class="btn btn-success" ng-click="addTicket()">Add Data</button>
					<div id="grid1"  ui-grid="TicketGridOptions" ui-grid-edit class="grid"></div>
				</div>
				
			</div>
		</div>

	</div>

